.client-diagnosis-box{
    display: flex;
    flex-direction: column;
    background-color: var(--lightercolor);
    width: 95%;
    border-radius: 2%/8%;
    height: fit-content;
    /* gap: 2%; */
    padding: 2%;
    font-size: 18px;
}

.diagnosis-date{
    font-size: 12px;
    color: #868686;
    margin-top: 2%;
}

.client-diagnosis-information-box{
    padding: 1%;
    align-items: baseline;
}

.client-diagnosis-information {
    flex-grow: 1;
    word-break: break-all;
    margin: 0% 2%;
}

.diagnosis-hr{
    width: 97%;
    height: 1px;
    min-height: 1px;
    background-color: var(--basecolor);
    border: none;
}

.diagnosis-download-button{
    margin-left: auto;
    margin-right: 2%;
    cursor: pointer;
}

.diagnosis-download-button:hover{
    color: var(--basecolor);
}