
.App-client-day-picker-day {
    /* height: 50%; */
    padding: 1.5% 3%;
    background-color: white;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 5.5%;
    max-width: 5.5%;
}

.App-client-day-picker-day:hover {
    background-color: rgb(234, 234, 234);
}

.App-client-day-picker-selected {
    background-color: var(--lightcolor);
    color: white;
}

.App-client-day-picker-selected:hover {
    background-color: var(--lightcolorhover);
}

.day-name {
    font-size: 15px;
}