.App-client-diagnoses-list{
    display: flex;
    flex-direction: column;
    margin: 2% 2%;
    padding: 1%;
    gap: 10%;
    overflow-y: scroll;
    height: 80%;
    min-height: 0;
}

.App-client-diagnoses-list-item {
    background-color: white;
    padding: 3%;
    border-bottom: 0px;
    transition: border-bottom 100ms ease-in-out;
    transform-origin:  0% 50%;
}

.App-client-diagnoses-list-item:hover {
    border-bottom: 4px solid var(--basecolor);
}

  