.App-client-human-layout {
    flex-grow: 1;
    background-image: url("../../../public/images/human body.png");
    background-size:     contain;
    background-repeat:   no-repeat;
    background-position: center center;
}
  

@media (max-width: 600px) {

    .App-client-human-layout {
      height: 250px;
    }
  }
  