.App-client-measure-data-list-item {
    background-color: #dfeeff;
    padding: 6% 5%;
    border-bottom: 0px;
    transition: border-bottom 100ms ease-in-out;
    transform-origin:  0% 50%;
    display: flex;
    flex-direction: column;
}

.App-client-measure-data-list-item:hover {
    border-bottom: 4px solid var(--basecolor);
}

.measure-data-values {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.measure-data{
    margin-left: auto;
}

.measure-data-date {
    font-size: 12px;
    color: rgb(63, 63, 63);
}