.App-client-measure-data-list{
    display: flex;
    flex-direction: column;
    margin: 2% 2%;
    padding: 1%;
    gap: 10%;
    overflow-y: scroll;
    height: 80%;
    min-height: 0;
}

.App-client-measure-data-list-item {
    background-color: var(--lightcolor);
    padding: 2%;
}

  