.App-client-datalist {
    padding: 20px;
    /* height: 235px; */
    flex-grow: 1;
    min-height: 0;
    flex-basis: 0;
}

.App-client-horizontal-bar{
    width: 95%;
    border-left: 2px solid black;
}