nav, a {
  background-color: var(--basecolor);
  min-width: 80px;
  color: white;
  overflow: hidden;
  transition: max-height 1s;
  text-align: center;
  text-decoration: none;
}

nav ul {
  margin: 0px 0 0 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  width: 100%;
}

nav li {
  height: 60px;
  line-height: 70px;
  width: 100%;
  margin: 0 auto 20px auto;
}

#navbar a.active > li {
  background: linear-gradient(90deg, var(--lightcolor) 0%, var(--basecolor) 100%);
}

/* .selected {
  background: linear-gradient(90deg, var(--lightcolor) 0%, var(--basecolor) 100%);
} */

#navbar a.active > li:hover {
  background: linear-gradient(90deg, var(--basecolor) 0%, var(--darkcolor) 100%);
}

/* .selected:hover {
  background: linear-gradient(90deg, var(--basecolor) 0%, var(--darkcolor) 100%);
} */

.navbar-item:hover {
  background-color: var(--darkcolor);
  cursor: pointer;
}

.navbar-item-text{
  margin-left: 20px;
  display: none;
}

.App-navbar-logo {

}


.App-navbar-button {

}

@media (min-width: 601px) {
  nav {
    max-height: initial !important;
  }
}

@media (max-width: 600px) {

  nav {
    max-height: 0;
  }

  nav li {
    height: 30px;
    line-height: 30px;
    margin: 0 auto 10px auto;
  }

  #menuIcon {
    display: block;
  }

  .navbar-item {
    text-align: left;
    padding: 0 20px 0 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .navbar-item-text{
    display: inline;
  }
 
}