
.App {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.App-body {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.App-content {
  /* background-color: rgb(233, 233, 233); */
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  padding: 30px;
  gap: 2%;
}

.App-content-div {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-image: url("../public/images/backroung-azul.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 600px) {

  .App-body, .App-content, .App-content-div {
    flex-direction: column;
  }
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
