<<<<<<< HEAD
html, body, #root, .App {
  height: 100%
}

.App {
=======
.App {
  height: 100%;
>>>>>>> 687fd8c4c2eb82b30f6d338123edc32273c1c29f
  display: flex;
  flex-direction: row;
}

<<<<<<< HEAD
.App-side-bar {
  display: flex;
  flex-direction: column;
  min-width: 20%;
  max-width: 20%;
}

.App-body {
  display: flex;
  flex-direction: column;
}

.App-header {
  display: flex;
  flex-direction: row;
  min-height: 20%;
  max-height: 20%;
}

.App-header-name {
  margin-right: auto;
}

.App-header-logo {
  margin-left: auto;
=======
.App-body {
  display: flex;
  flex-direction: column;
  min-width: 92%;
  max-width: 92%;
  margin: 20px;
>>>>>>> 687fd8c4c2eb82b30f6d338123edc32273c1c29f
}

.App-content {
  display: flex;
  flex-direction: row;
<<<<<<< HEAD
}

.App-client-column {
  display: flex;
  flex-direction: column;
}

.App-divider-bar {
  width: fit-content;
  border-left: 2px solid black;
  height: inherit;
  position: absolute;
  left: 50%;
=======
  height: 90%;
>>>>>>> 687fd8c4c2eb82b30f6d338123edc32273c1c29f
}

.App-client-human-layout {

}

.App-client-measure-buttons{
  display: flex;
  flex-direction: row;
  gap: 10px
}

.App-client-measure-button{

}

<<<<<<< HEAD
.App-client-datalist {

}

=======
>>>>>>> 687fd8c4c2eb82b30f6d338123edc32273c1c29f
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
/* 
.App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
