:root {
  --basecolor: #74C9D0;
  --lightcolor: #C8E8EA;
  --darkcolor: #08808E;
}

html {
  height: 100%;
}

body, #root {
  min-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
}

