:root {
  --basecolor: #f57171;
  --lightcolor: #f5d7d7;
  --lightcolorhover: #f5d7d7;
  --lightercolor: #ffdede;
  --darkcolor: #d44444;
  --complementarcolor: #fe9a84;
  --darkcomplementarcolor: #c26552;
  --lightcomplementarcolor: #ffe5da;
}

html {
  height: 100%;
}

body, #root {
  min-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
}

