:root {
  --basecolor: #f57171;
  --lightcolor: #f5d7d7;
  --lightcolorhover: #f5d7d7;
  --lightercolor: #ffdede;
  --darkcolor: #d44444;
  --complementarcolor: #fe9a84;
  --darkcomplementarcolor: #c26552;
  --lightcomplementarcolor: #ffe5da;

  --professionalBaseColor: #3065c9;
  --professionalLightColor: #baddff;
  --professionalLightColorHover: rgb(117, 165, 255);
  --professionalDarkColor: #0247c9;

  --lightGreen: #3cbd65;
  --pendingBlue: #1cbce8;
}

html {
  height: 100%;
}

body, #root {
  min-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
}

