.professional-triage-button{
    background-color: var(--professionalBaseColor);
    color: white;
    border: none;
    padding: 1.5%;
    cursor: pointer;
}

.professional-triage-button-inactive{
    background-color: var(--professionalLightColor) !important;
}

.professional-triage-button:hover{
    background-color: var(--professionalDarkColor) !important;
}