.professional-profile-field{
    border: 1px solid var(--professionalBaseColor);
    padding: 1.5%;
    width: 100%;
    border-radius: 5px;
}

.profile-field-title{
    width: 20%;
    display: inline-flex;
}

.professional-profile-button{
    margin: auto;
    background-color: var(--professionalBaseColor);
    height: 50%;
    width: 15%;
    padding: 2%;
    border: 0;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 4%;
}

.professional-profile-button:hover{
    background-color: var(--professionalDarkColor);
}